* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
    200deg,
    rgb(0, 132, 255),
    rgb(82, 229, 255)
  );
  height: 100vh;
  position: relative;
}
